.container{
    max-width: 1000px;
    margin: 0 auto;
}

.debug .row{
    height: 250px;
}

.debug .row [class*="col-"]{
    background-color: red;
    border: 1px solid black;
    height: 100%;
}

/* da cancellare */
.green{
    background-color: green;
}

.grey{
    background-color: #ccc;
}

.yellow{
    background-color: yellow;
}

/* da cancellare */

section .padding{
  padding: 50px 0;
}

.height-img{
  max-height:200px;
}
